body {
    background: linear-gradient(90deg, rgb(0, 86, 105), rgba(202, 93, 94));
    background-size: contain;
}

#trainHeader {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 0;
    padding-top: 5em;
    padding-bottom: 0;
    padding-right: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 0.5em;
}

h3 {
    font-family: 'Josefin Slab', serif;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 0;
}

label {
    font-family: 'Josefin Slab', serif;
}

.card-title {
    margin-bottom: 0;
}

.card {
    margin: 0 auto;
}

#train-bg {
    background: url(../images/train-01.png);
    background-repeat: no-repeat;
    background-size: 500px;
    height: 185px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #000000;
    color: #4e979d;
    padding: 20px;
    border: 1px solid #343a40;
    width: 50%;
    text-align: center;
}

.introtext {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    font-family: 'Josefin Slab', serif;
    background-color: rgba(202, 93, 94);
}
#signIn{
    background-color: rgba(202, 93, 94);
}
input {
    font-family: 'Josefin Slab', serif;
}

.modaltext {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.close {
    text-align: right;
    color: rgba(202, 93, 94);
    opacity: 1;
    text-shadow: none;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -10px;
}

.close:hover, .close:focus {
    color: rgba(202, 93, 94);
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
}

.notification {
    display: none;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 4.8px;
    overflow: hidden;
}

.card {
    width: 50%;
}

.card-header {
    background-color: #212529;
}

.table td, .table th {
    font-family: 'Josefin Slab', serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#add-train{
    background-color: rgba(202, 93, 94);
}
@media only screen and (max-width: 459px) {
    table {
        font-size: 12px;
    }
    #train-bg {
        background-position-x: -200px;
    }
}

@media only screen and (min-width: 860px) {
    table {
        font-size: 16px;
    }
}

@media only screen and (max-width: 760px) {
    .card {
        width: 100%;
    }
}